*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {

	--ff-primary: 'Encode Sans', sans-serif ;
	--ff-secondary:'Special Elite', cursive;
	--fw-reg :300;
	--fw-bold: 900;
	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;
	--clr--yellow: #c9c749;

	--fs-h1: 3rem;
	--fs-h2: 2.5rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
	--bs : 1em 1em 0.75em rgba(0,0,0,0.25),0.5em 0.25em 0.2em rgba(0,0,0,0.15);

}
@media (max-width: 800px)
{
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.5rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;

	}
}



body{
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}
section {
	padding: 5em 2em;
}
img {
	display: block;
	max-width: 100%;

}
h1,
h2,
h3{
	line-height: 1.1;
	margin: 0;
}
h1{
	font-size: var(--fs-h1);
}
h2{
	font-size: var(--fs-h2);
}
h3{
	font-size: var(--fs-h3);
}
strong {
	font-weight: var(--fw-bold);
}
.section-title{
	margin-bottom: 0.25em;

}
.section-title-intro {
	font-weight: var(--fw-reg);
}
.section-title-intro strong {
	display: block;
	}
.section-subtitle{
	font-size: var(--fs-h3);
	margin: 0;

}
.section-subtitle-intro,
.section-subtitle-about {
	font-family: var(--ff-secondary);
	background: var(--clr-accent);
	margin-bottom: 1em;
	padding: 0.25em 1em;
}

/*   intro */
.intro {
position: relative;
}
.intro-img {
	box-shadow: var(--bs);
	width: 350px;
	height: 350px;
}

@media(max-width: 600px) {
	.intro {
		display: grid;
		margin: 0 auto;
		width: min-content;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;




	}
	.intro-img {
		min-width: 250px;
		height: 300px;
		grid-area: img;
		position: relative;
		z-index: 2;

	}
	.section-subtitle-intro{
		align-self: start;
		grid-column: -1/1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5rem;
		width: calc(100% + 1.5em);
	}
}
.wrap {
	background-color: var(--clr-dark);
}
.aboutme {
	max-width: 1000px;
	margin: 0 auto;
	background-color: var(--clr-dark);
	background-image: url(../images/pic4.jpg);
	
	background-size: cover;
	color: var(--clr-light);
	
}

@media(max-width: 600px) {
	.aboutme {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-areas: 
			"title subtitle"
			"text subtitle";

		background-image: url(../images/pic4.jpg);
		background-color: var(--clr-dark);
		grid-column-gap: 2em;

	}
	.wrap {
	background-color: var(--clr-dark);
}
	.section-title-about
	{
		grid-area: title;
	}


	.section-subtitle-about {
		grid-column: 1/-1;
		grid-row: 2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em);
	}
	 
}


/* work */

.mywork {
	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	text-align: center;
}
.section-subtitle-project {
	color: var(--clr-dark);
	font-weight: var(--fw-bold);
	margin-bottom: 1em;
}
.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.portfolio-item {
	
	overflow: hidden;
}
.portfolio-img {
	transition: 
	transform 750ms cubic-bezier(.5,0,.5,1),
	opacity 250ms linear;

}
.portfolio-img:hover {
	transform: scale(1.5);
	opacity: 0.75;
}

/*   */
.foot {
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
	font-size: var(--fs-h3);
}
.mail {
	font-size: var(--fs-h3);
	font-weight: bold;
}
.foot a {
	color: inherit;
	text-decoration: none;
}
.mail:hover,
.social-link1:hover {
	opacity: 0.7;

}
.social-media {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0;
	padding: 0;
}
.social-item1 {
	margin: 0 0.5em;
}
.social-link1 {
	 padding: 0.5em;
}

/* nav */

.logo {
	width: 200px;
	height: 200px;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}